<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <link rel="stylesheet" href="./main.css" />
   </head>
   <body class="bg-white">
      <div class="row mt-6 ml-6 ">
         <div class="cec-list-group__headline w-100 col-7">
            <div class=" ">
               <div class="d-flex mb-2">
                  <div class="d-flex align-items-center">
                     <!-- Image -->
                     <div
                        class="aspect-ratio-bg-cover cec-comment-user-profile mr-2 mb-auto"
                        style="background-image: url('jisoo.jpg')"
                        ></div>
                     <!-- Section -->
                     <div class="d-flex flex-column cec-p-2 cec-comment-background border-rounded">
                        <div
                           class="d-flex flex-row justify-content-between align-items-center cec-mr-2">
                           <div class="d-flex flex-column ">
                              <!-- Name -->
                              <h5 class="w-100 my-0">
                                 <a
                                    class="text-black font-weight-bold font-size-14"
                                    href="https://dev-connect.crosswired.me/web/profile/profile/-/display/7ee1f8cd-7f0d-428c-8583-881fa9534a78"
                                    target="_blank"
                                    >
                                 Jisoo Kim
                                 </a>
                                 <inactive-user
                                    v-if="comment.profile.inactiveUser"
                                    :tooltip="translate('no-longer-a-member-of-this-community')"
                                    ></inactive-user>
                              </h5>
                              <cw-tooltip
                                 v-if="comment.editedTooltip"
                                 class="mt-1"
                                 label="edited"
                                 :tooltip-text="comment.editedTooltip">
                              </cw-tooltip>
                              <!-- Minute -->
                              <span class="cec-list-group__datetime font-style-normal cec-mr-2 cec-mt-1"
                                 >4 minutes ago</span
                                 >
                           </div>
                           <div class="dropdown-three-dots dropdown arrow-indicator">
                              <a
                                 id="_PostActivityWeb_dropdownMenuLink_PostActivityWeb_ownComment187455211"
                                 data-toggle="dropdown"
                                 aria-haspopup="true"
                                 aria-expanded="false"
                                 >
                                 <div
                                    class="three-dots-icon undefined three-dots-icon--vertical"
                                    >
                                    <span class="icon-dot"></span>
                                    <span class="icon-dot"></span>
                                    <span class="icon-dot"></span>
                                 </div>
                              </a>
                           </div>
                        </div>
                        <p class="text-black cec-mt-1 cec-mb-0 font-size-14">
                           Vel officia et corrupti dolor similique consequatur a sed. Aut
                           id architecto et rerum ullam ut quaerat quis est quisquam
                           ipsa.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <ul class="cec-list-group">
               <li
                  id="_PostActivityWeb_187455215"
                  class="sub-comment mr-0 cec-ml-2 border-left border-style-dash border-top-0 border-right-0 border-bottom-0"
                  >
                  <div class="cec-list-group__headline w-100">
                     <div class="cec-pl-3 cec-pl-sm-4 cec-py-2">
                        <div class="d-flex mb-2">
                           <div class="d-flex align-items-center">
                              <!-- Image -->
                              <div
                                 class="aspect-ratio-bg-cover cec-comment-user-profile mr-2 mb-auto"
                                 style="background-image: url('jisoo.jpg')"
                                 ></div>
                              <!-- Section -->
                              <div class="d-flex flex-column cec-p-2 cec-comment-background border-rounded">
                                 <div
                                    class="d-flex flex-row justify-content-between align-items-center cec-mr-2"
                                    >
                                    <div class="d-flex flex-column">
                                       <!-- Name -->
                                       <h5 class="w-100 my-0">
                                          <a
                                             class="text-black font-weight-bold font-size-14"
                                             href="https://dev-connect.crosswired.me/web/profile/profile/-/display/7ee1f8cd-7f0d-428c-8583-881fa9534a78"
                                             target="_blank"
                                             >
                                          Jisoo Kim
                                          </a>
                                       </h5>
                                       <!-- Minute -->
                                       <span class="cec-list-group__datetime font-style-normal cec-mr-2 cec-mt-1"
                                          >4 minutes ago</span
                                          >
                                    </div>
                                    <div class="dropdown-three-dots dropdown arrow-indicator">
                                       <a
                                          id="_PostActivityWeb_dropdownMenuLink_PostActivityWeb_ownComment187455211"
                                          data-toggle="dropdown"
                                          aria-haspopup="true"
                                          aria-expanded="false"
                                          >
                                          <div
                                             class="three-dots-icon undefined three-dots-icon--vertical"
                                             >
                                             <span class="icon-dot"></span>
                                             <span class="icon-dot"></span>
                                             <span class="icon-dot"></span>
                                          </div>
                                       </a>
                                    </div>
                                 </div>
                                 <p class="text-black cec-mt-1 cec-mb-0 font-size-14">
                                    Ut qui aut in eaque id sed quasi natus in itaque.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
   </body>
</html>